<template>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button
                id="btnGroupDrop1"
                type="button"
                class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                Group by
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" v-bind:class="{active: isSortingParamMatching('popularity')}" @click="onClickSortByParam($event, 'popularity')">Popularity</a>
                <a class="dropdown-item" v-bind:class="{active: isSortingParamMatching('price')}" @click="onClickSortByParam($event, 'price')">Price</a>
                <a class="dropdown-item" v-bind:class="{active: isSortingParamMatching('none')}" @click="onClickSortByParam($event, 'none')">None</a>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" v-bind:class="{active: isSortingDirectionAscending}" @click="onClickSortByDirection($event, true)">Ascending</button>
        <button type="button" class="btn btn-secondary" v-bind:class="{active: !isSortingDirectionAscending}" @click="onClickSortByDirection($event, false)">Descending</button>
    </div>
</template>

<script lang="ts">
import router from "@/router";
import store from "@/store";
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Sorting extends Vue {
    get isAuthenticated(): boolean {
        return store.getters.isAuthenticated;
    }

    get isSortingDirectionAscending(): boolean {
        return store.getters.isSortingDirectionAscending;
    }

    isSortingParamMatching(param: string): boolean {
        return store.getters.isSortingParamMatching(param);
    }

    onClickSortByParam(event: Event, param: string): void {
        store.dispatch("sortByParam", param);
        event.preventDefault();
    }

    onClickSortByDirection(event: Event, isAscending: boolean): void {
        store.dispatch("sortByDirection", isAscending);
        event.preventDefault();
    }
}
</script>
