<template>
    <div>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">C# Task<span class="display-4 text-nowrap"> - Chris&nbsp;Rak</span></h1>
                <p>
                    This is an ADM C# test task. The project utilizes an ASP.NET Core RESTful API back end and a Vue.js
                    front end. Supports API versioning and OpenAPI Specification. Task's bonus part implemented.
                </p>
                <p>
                    <router-link :to="{ name: 'StoreProducts' }" class="btn btn-primary btn-lg" role="button"
                        >Go to task »</router-link
                    >
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Swagger Docs</h2>
                    <p>Swagger API specifications.</p>
                    <p>
                        <a class="btn btn-secondary" href="https://adm-c-test-aspnet.gustav-solutions.eu/Swagger/index.html" role="button"
                            >View docs »</a
                        >
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>GitLab Repository</h2>
                    <p>Source code in a GitLab repository.</p>
                    <p>
                        <a class="btn btn-secondary" href="https://gitlab.com/chrisrak11/adm-c-test" role="button"
                            >View repo »</a
                        >
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Task Description</h2>
                    <p>Wireframes and task details by ADM.</p>
                    <p><a class="btn btn-secondary" href="CTestDescription.pdf" role="button">View description »</a></p>
                </div>
            </div>

            <hr />
        </div>
    </div>
</template>
