<template>
    <div>
        <h1>Product details</h1>
        <div v-if="detailStoreProduct" class="row" style="padding-top: 1.5rem">
            <div class="col-12">
                <h4>{{ detailStoreProduct.title }}</h4>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <!-- <img class="img-thumbnail" style="width: 100%" src="@/assets/vue_logo.png"/> -->
                        <img class="img-thumbnail" style="width: 100%" :src="detailStoreProduct.image" @error="fallBackToImgSrc($event)" alt="mountains" />
                    </div>
                    <div class="col-12 col-md-10">
                        <div class="row">
                            <div class="col-12 col-md-8 col-lg-9">
                                <p class="text-muted">
                                    <span v-html="detailStoreProduct.description"></span>
                                </p>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3">
                                <ul class="list-group mb-3">
                                    <li class="list-group-item d-flex justify-content-between">
                                        <span>Price</span>
                                        <span class="text-muted">{{ detailStoreProduct.price }} EUR</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row" style="padding-top: 0.75rem">
                    <div class="col-12">
                        <h5 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Specifications</span>
                        </h5>
                        <ul class="list-group mb-3">
                            <li
                                class="list-group-item d-flex justify-content-between lh-condensed"
                                v-for="spec in detailStoreProduct.specs"
                                :key="spec.id"
                            >
                                <div>
                                    <span>{{ spec }}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <router-link :to="{ name: 'StoreProducts' }">Back to List</router-link>
        </div>
    </div>
</template>

<script lang="ts">
import store from "@/store";
import { Component, Prop, Vue } from "vue-property-decorator";
import { IDetailStoreProduct } from "@/domain/IDetailStoreProduct";

@Component
export default class StoreProductsDetails extends Vue {
    @Prop()
    private id!: string;

    get detailStoreProduct(): IDetailStoreProduct | null {
        return store.state.detailStoreProduct;
    }

    fallBackToImgSrc(event: ErrorEvent): void {
        (event.target as HTMLImageElement).src = "logo.png";
    }

    mounted(): void {
        store.dispatch("getDetailStoreProduct", this.id);
    }
}
</script>
