<template>
    <div>
        <h1>Product list</h1>

        <div>
            <Sorting style="margin-bottom: 20px" />
        </div>

        <div v-if="listStoreProducts">
            <div v-for="listStoreProduct in listStoreProducts" :key="listStoreProduct.id">
                <div class="row">
                    <div class="col-3 col-lg-2">
                        <!-- <img class="img-thumbnail" style="width: 100%" src="@/assets/vue_logo.png"/> -->
                        <img class="img-thumbnail" style="width: 100%" :src="listStoreProduct.image" @error="fallBackToImgSrc($event)" alt="mountains" />
                    </div>
                    <div class="col-9 col-lg-7">
                        <h5>{{listStoreProduct.title}}</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <p class="text-muted">
                                    <span v-html="alterDescription(listStoreProduct)"></span>
                                </p>
                            </li>
                            <li>
                                <a class="btn btn-secondary" @click="$router.push({ name: 'StoreProductsDetails', params: { id: listStoreProduct.id } })"
                                    >Details</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-3">
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Price</span>
                                <span class="text-muted">{{ listStoreProduct.price }} EUR</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Availability</span>
                                <span class="text-muted">{{ availabilityForProduct(listStoreProduct.id) }}</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <hr />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { IListStoreProduct } from "@/domain/IListStoreProduct";
import store from "@/store";
import { Component, Vue } from "vue-property-decorator";
import Sorting from "@/components/Sorting.vue";

@Component({
    components: {
        Sorting // Same as 'Sorting: Sorting'
    }
})
export default class StoreProductsIndex extends Vue {
    get listStoreProducts(): IListStoreProduct[] {
        return store.getters.listProductsSorted;
    }

    availabilityForProduct(id: string): string {
        return store.getters.availabilityForProduct(id);
    }

    alterDescription(prod: IListStoreProduct): string {
        return prod.title + " (" + prod.id + ") " + prod.description;
    }

    fallBackToImgSrc(event: ErrorEvent): void {
        (event.target as HTMLImageElement).src = "logo.png";
    }

    mounted(): void {
        store.dispatch("getListStoreProducts");
        store.dispatch("getDetailStoreProductsAvailabilities");
    }
}
</script>
